#fromc form{
    border-style:solid;
    border: 1px;
    border-color:  black;
    padding: 20px;
}
.labelfrom {
    font-weight: bold;
    width: 100px;
    float: left;
}
.containerButton {
    text-align: center;
}
.sendButton {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 14px;
}
.sendButton:hover {
    cursor: pointer;
    background-color: lightseagreen;
}